---
title: blog
---

<html>
<head>
    <title>Gregory Gundersen</title>
    <meta charset='UTF-8'>
    <meta content='width=device-width, initial-scale=1' name='viewport'/>

    <meta name='description' content='Gregory Gundersen is a PhD candidate at Princeton.'>
    <!-- A decent browser will parse this fine:
         https://webmasters.stackexchange.com/questions/92744. -->
    <meta name='keywords' content='
        machine learning,
        statistical machine learning,
        bayesian inference,
        statistics,
        computational statistics,
        linear algebra,
        numerical linear algebra,
        statistical software,
        deep learning,
        computer science
    '>
    <meta name='author' content='Gregory Gundersen'>

    <link rel='shortcut icon' href='/favicon.png?v=e' />
    <link href='/css/blog.css' rel='stylesheet'/>

    {% include mathjax.html %}
</head>
<body>
    {% include nav.html %}
    <div id='blog' class='wrap'>
        <div id='intro'>
            <div class='quote'>
                <p>I learned very early the difference between knowing the name of something and knowing something.</p>
                <a href='https://en.wikiquote.org/wiki/Richard_Feynman' target='_blank'>Richard Feynman</a>
            </div>
        </div>
        <div id='posts' class='section'>
            {% for post in site.posts %}
                <div class='post-row'>
                    <p class='post-title'>
                        <a href="{{ post.url }}">
                            {% katexmm %}
                            {{ post.title }}
                            {% endkatexmm %}
                        </a>
                    </p>
                    <p class='post-date'>
                        {{ post.date | date_to_long_string }}
                    </p>
                </div>
                <p class='post-subtitle'>
                    {% katexmm %}
                    {{ post.subtitle }}
                    {% endkatexmm %}
                </p>
                <span class='hidden'>{{ forloop.index }}</span>
            {% endfor %}
        </div>
    </div>
</body>
</html>
